html {
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 14px;
  color: #C2FEFF;
  background-color: #322f43;

}

body {
  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-align: left;
}


main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

p {
  margin: 1em 0;
}

a {
  /* color: #FFF352; */
  color: #C2FEFF;
  /* text-decoration: none; */
}

a:visited {
  color: #D4FFC4;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 1em;
  color: #FFDEB5;
  text-align: center;
  font-size: 1.8em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  color: #FFDEB5;
}

h5,
h6 {
  font-size: 1em;
  font-style: italic;
}

h6 {
  font-weight: normal;
}

ol,
ul {
  padding-left: 1.7em;
  margin-top: 1em;
}

li>ol,
li>ul {
  margin-top: 0;
}

blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #FFC9DA;
}

code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 95%;
  margin: 0;
  color: #FFC9DA;
}

pre {
  margin: 1em 0;
  overflow: auto;
}

pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}

.sourceCode {
  background-color: transparent;
  overflow: visible;
}

hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}

table caption {
  margin-bottom: 0.75em;
}

tbody {
  margin-top: 0.5em;
  border-top: 1px solid #FFDEB5;
  border-bottom: 1px solid #FFDEB5;
}

th {
  border-bottom: 1px solid #FFDEB5;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
  padding: 0.125em 0.5em 0.25em 0.5em;
  border-bottom: 1px solid #FFDEB5;
}

code {
  white-space: pre-wrap;
}

span.smallcaps {
  font-variant: small-caps;
}

span.underline {
  text-decoration: underline;
}

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

ul.task-list {
  list-style: none;
}

.display.math {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
}

::selection {
  background: #8077A8;
}

header {
  margin-bottom: 2em;
  text-align: left;
  font-size: 1.4em;
}

nav {
  border-bottom: 1px solid #FFDEB5;
  font-size: 16px;
  /* text-align: center; */
}

.header-links a {
  text-decoration: none;
}


.header-links ul {
  list-style-type: none;
  padding-left: 10px;
}

.header-links li {
  display: inline-block;
  padding-right: 10px;
}

.logo {
  background-color: #FFDEB5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo a {
  color: #322f43;
  text-decoration: none;
}

.date {
  color: #C2FEFF;
}

footer {
  padding-top: 30px;
  font-size: 12px;
  text-align: center;
}

.homepage-post-title a {
  text-decoration: none;
}

ul.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.observablehq-books div {
  padding-top: 20px;
}

.observablehq-books2 div {
  padding-top: 20px;
}
