a {
  color: #5A5475; /* background */
  color: #8077A8; /* highlight */
  color: #C5A3FF; /* low contrast text */
  color: #d5c6f0;
  color: #FFC9DA; /* the pink color */
  color: #FF857F;
  color: #C2FEFF; /* the aqua color */
  color: #D4FFC4; /* minty green */
  color: #FFDEB5; /* peach */
  color: #FFF352; /* the yellow color */

}